<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
</head>
<body>
    <main class="overflow-auto col-sm-12 m-auto" style="position:fixed;width:100%;height:100%;background-image:url(img/visitor/doctors.jpg);background-size:cover;background-repeat:no-repeat;background-position:fixed">
        <nav class="navbar navbar-expand-md navbar-info sticky-top mb-4"  style="background-color:rgb(0,0,0,.5)">
            <a class="navbar-brand mx-2" href='/'>
                <img  th:src="@{'img/icon/hospital.png'}" width=100 alt="" />
            </a>
            <button class="navbar-toggler d-lg-none"  type="button"   data-bs-toggle="collapse"  data-bs-target="#collapsibleNavId"  aria-controls="collapsibleNavId"  aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse container" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link hover-me active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <i class="bi bi-house-door-fill display-6"></i>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link hover-me p-4 hover-me rounded-pill" id="hospital-tab" data-bs-toggle="pill" data-bs-target="#hospital" type="button" role="tab" aria-controls="hospital" aria-selected="false">
            <i class="bi bi-hospital-fill display-6"></i>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link hover-me" id="pills-setting-tab" data-bs-toggle="pill" data-bs-target="#pills-setting" type="button" role="tab" aria-controls="pills-setting" aria-selected="false">
            <i class="bi bi-car-front display-6"></i>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link hover-me p-4 hover-me rounded-pill" id="hospital-tab" data-bs-toggle="pill" data-bs-target="#pills-user-tab" type="button" role="tab" aria-controls="hospital" aria-selected="false">
            <i class="bi bi-people-fill display-6"></i>
            </button>
          </li>
        </ul>
        </ul>
          <form th:action="@{'/logout'}" method="post">
            <button type="submit" class="bg-transparent border-0"><i class="bi bi-box-arrow-in-left btn btn-secondary mx-3"></i></button>
          </form>
            </div>
        </nav>
        <main>
          <div  class="alert alert-primary alert-dismissible fade show"  role="alert" th:if="${!message.equals('')}" >
            <button  type="button"  class="btn-close"  data-bs-dismiss="alert"  aria-label="Close"></button>
            <strong th:text="${message}">Alert Heading</strong>
          </div>    
        <div class="tab-content overflow-auto" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div th:replace="admin/home::adminHome"></div>
          </div>
          <div class="tab-pane fade" id="hospital" role="tabpanel" aria-labelledby="hospital-tab">
            <div th:replace="admin/hospital/hospital::adminHospitalHome"></div>
          </div>
          <div class="tab-pane fade show" id="pills-setting" role="tabpanel" aria-labelledby="pills-setting-tab">
            <div th:replace="admin/ambulance/ambulanceList::driver"></div>
          </div>
          <div class="tab-pane fade" id="pills-user-tab" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div th:replace="admin/user/userList::userList"></div>
          </div>
        </div>
        </main>
    </main>
</body>
</html>