<head th:replace="index::head"></head>
<div class="fixed-top h-100 bg-primary overflow-auto d-flex justify-content-center align-items-center">
    <section class="container mb-5">
        <section class="col-12 gap-5 p-5">
            <div class="card col-sm-6 m-auto p-0">
                <div class="card-body">
                    <h1 class="card-title text-center">
                        <i class="bi bi-car-front display-2"></i>
                    </h1>
                    <form th:action="@{'/admin/driver/'+${ambulance.id}}" method="post" th:object="${ambulance}" class=" col-sm-12">
                        <div
                            class="alert alert-primary alert-dismissible fade show"
                            role="alert" th:if="${!message.equals('')}"
                        >
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                            ></button>
                        
                            <strong th:text="${message}"></strong>
                        </div>
                        
                        <div class="mb-3">
                            <label for="input1" class="form-label"><b>PlateNumber </b> <span th:text="${ambulance.plateNumber}"></span></label>
                        </div>
                        <div class="mb-3">
                          <label for="input1" class="form-label">Driver Email</label>
                          <input type="email" class="form-control" name="email" placeholder="add Driver Email ..." aria-describedby="emailHelp">
                        </div>
                        <p class="modal-footer">
                            <a href="/admin" class="btn btn-outline-danger">Cancel</a>
                            <button class="btn btn-outline-primary" type="submit">Submit</button> 
                          </p>
                    </form> 
                </div>
            </div>
        </section>
    </section>
</div>