<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
</head>
<body>
    <main>
        <div class="container-fluid pt-lg-5 bg-primary overflow-auto mb-5 fixed-top h-100" >
            <div class="container pt-lg-5">
                <div class="row g-5 pt-1 mb-2">
                    <section class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                        <h1 class="display-4 text-white mb-4 fw-bolder">Find Hospital Ambulance online</h1>
                        <p class="text-white mb-4">Tempor rebum no at dolore lorem clita rebum rebum ipsum
                            rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit
                        </p>
                        <a href='/' class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3">Home</a>
                        <a href='/signup' class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill">SignUp</a>
                    </section>
                    <section class="col-lg-6">
                        <form action="/login" method="post" class="bg-white border  text-dark  mt-lg-5">
                            <span class="bi bi-person d-block text-center display-6 mt-3"></span>
                            <nav class="card-title border-bottom fw-bolder text-center fs-3 p-3">Login</nav>
                            <div class="alert alert-light alert-dismissible fade show"  role="alert" th:if="${param.error}">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                <strong>Wrong credentials</strong>
                            </div>
                            <div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${param.logout}">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                                <strong>You've logged out sucessfully</strong> 
                            </div>
                            <section class='p-4'>
                                <div class="mb-3">
                                    <span  class="form-span">Email</span>
                                    <input type="username"  name="username" class="form-control rounded-0" placeholder="example@gmail.com" />
                                </div>
                                <div class="mb-3">
                                    <span  class="form-span">Password</span>
                                    <input type="password" name="password"  class="form-control rounded-0" placeholder="Enter password" />
                                </div>
                                <div class="modal-footer">
                                    <button type="submit"   class="btn btn-outline-success fw-bolder">Submit</button>
                                </div>
                            </section>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>