<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index::head">
</head>
<body>
    <div class="container-fluid pt-lg-0 bg-primary overflow-auto mb-5 fixed-top h-100" >
        <div class="container pt-lg-1">
            <div class="row g-5 pt-1 mb-2">
                <section class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 fw-bolder">
                        Find Hospital Ambulance online
                    </h1>
                    <p class="text-white mb-4">Tempor rebum no at dolore lorem clita rebum rebum ipsum
                        rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit</p>
                    <a href='/' class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3">Home</a>
                    <a href='/login' class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill">login</a>
                </section>
                <section class="col-lg-6">
                  <form th:action="@{/signup}" method="post" th:object="${user}" class="border  text-dark  mt-lg-5" style='background-color:rgb(0,0,0,0.5)'>
                      <h4 class="card-title border-bottom p-3 text-white">Sign up</h4>
                      <div
                        class="alert alert-success alert-dismissible fade show w-75 m-auto "
                        role="alert"
                      th:if="${!message.equals('')}">
                        <button
                            type="button"
                            class="btn-close "
                            data-bs-dismiss="alert"
                            aria-label="Close"
                        ></button>
                        <strong th:text="${message}"></strong>
                      </div>
                      <section class='p-4'>
                          <div class="mb-3">
                            <span  class="form-span text-white">Name</span>
                            <input type="text" name="name" class="form-control" placeholder="Enter your name ..."  required/>
                          </div>
                          <div class="mb-3">
                              <span class='text-white'>Select Gender</span>
                              <select class="form-select w-100"   required name="gender">
                                  <option value="">--Select gender--</option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                              </select>
                          </div>
                          <div class="mb-3">
                            <span  class="form-span text-white">Phone Number</span>
                            <input type="tel" name="phoneNumber" class="form-control" required/>
                          </div>
                          <div class="mb-3">
                            <span  class="form-span text-white">Email</span>
                            <input type="email" class="form-control" name="email" required/>
                          </div>
                          <div class="mb-3">
                            <span  class="form-span text-white">Password</span>
                            <input type="password"  class="form-control" name="password" required/>
                          </div>
                      </section>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                      </div>
                    </form>
                </section>
            </div>
        </div>
</div>  
</body>
</html>